#recipe-details-wrapper{
    width: 750px;
    height: 574px;
}

.recipe-time-fast {
    background: rgba(186, 244, 21, 0.65);
    border-radius: 74px;
    height: 47.66px;
    width: 47.66px !important;
    margin-right: 5px;
}
.recipe-time-medium {
    background-color: rgba(242, 220, 24, 0.65);
    border-radius: 74px;
    height: 47.66px;
    width: 47.66px !important;
    margin-right: 5px;
}
.recipe-time-slow {
    background: rgba(246, 151, 39, 0.65);
    border-radius: 74px;
    height: 47.66px;
    width: 47.66px !important;
    margin-right: 5px;
}

.recipe-image{
    height: 160px;
}

.add-btn{
    height: 27px;
}
