#register-container{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 550px;
  height: 667px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 100px;
}

#regForm {
  margin: 50px auto;
  min-width: 300px;
}

#login-link{
  text-decoration: none;
  color: #36527C;
}

#nextBtn,#submitBtn{
  margin-top: 50px;
  color: #fff;
  background-color: #36527C;
  border-color: #36527C;
  border-radius: 15px;
  width: 108px;
  height: 50px;
}

#prevBtn{
  margin-top: 50px;
  color: #fff;
  border-color: #36527C;
  color: #36527C;
  border-radius: 15px;
  width: 108px;
  height: 50px;
}

/* Style the input fields */
.form-group>input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}