<div class="row">
    <div class="col-md-12">
        <div class="h3 py-5 fw-bold d-flex justify-content-center">Discover Recipes to try today</div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <div class="col-1">
            <button type="button" class="btn btn-primary position-relative mb-3" (click)="showAdmin()">Admin</button>
        </div>
        <div class="col-1" *ngIf="IsAuthenticated()">
            <button type="button" class="btn btn-primary position-relative mb-3"  (click)="showMine()">Mine</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary position-relative mb-3" (click)="showQuickRecipes()">Quick</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary position-relative mb-3" (click)="showMediumRecipes()">Medium</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary position-relative mb-3" (click)="showSlowRecipes()">Slow</button>
        </div>
    </div>
</div>
<div class="row d-flex">
    <div class="col-lg-3" *ngFor="let recipe of shownRecipes">
        <div class="card recipe-card">
            <div class="card-body card-row row d-flex justify-content-between">
                <div class="card-title h6 col-lg-9 fw-bold">{{recipe.name}}</div>
                <div class="col-lg-2 position-relative" [ngClass] = "{'recipe-time-fast': recipe.timeToFinish < 15, 'recipe-time-medium': recipe.timeToFinish >= 15 && recipe.timeToFinish < 45, 'recipe-time-slow': recipe.timeToFinish >= 45}">
                    <div class="position-absolute top-50 start-50 translate-middle">{{recipe.timeToFinish}}'</div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="card-body card-row row">
                <div class="card-title h6 col-sm-9 fw-bold">{{recipe.totalCalories}} Cal / {{recipe.difficulty}}</div>
                <button class="btn btn-success col-sm-3 add-btn position-relative" *ngIf="IsAuthenticated()" (click)="addRecipeToUser(recipe.id)">
                    <div class="position-absolute top-50 start-50 translate-middle">Add</div>
                </button>
            </div>
            <img src="{{recipe.photo}}" class="card-img-top recipe-image" alt="...">
            <div class="card-body card-row">
                <h5 class="card-title">INGREDIENTS</h5>
                <div class="p card-text card-description">
                    <div *ngFor="let product of recipe.products">
                        {{product.productName}} - {{product.quantity}}
                    </div>
                </div>
                <div class="col-sm-12 text-center view-details-btn" mat-button (click)="openDialog(recipe.id)">View
                    Details</div>
            </div>
        </div>
    </div>
</div>