<div class="container-fluid">
    <div class="row container-fluid d-flex justify-content-center">
      <div class="col-6 col-xl-6 col-md-offset 3">
        <div class="h3 text-center pt-5">Edit your Recipe</div>
        <form [formGroup]="this.editForm" (ngSubmit)="editRecipe()">
            <div class="form-group mb-3">
              <label for="name" class="h5 fw-bold">Recipe Name</label>
              <input type="text" class="form-control" formControlName="name" [(ngModel)]="recipe.name">
              <div class="alert alert-danger" *ngIf="name.touched && name.errors?.required">
                This field is required!
              </div>
            </div>
            
            <div class="form-group mb-3">
              <label for="timeToFinish" class="h5 fw-bold">Time To Finish</label>
              <input type="number" class="form-control" formControlName="timeToFinish" [(ngModel)]="this.recipe.timeToFinish">
              <div class="alert alert-danger" *ngIf="timeToFinish.touched && timeToFinish.errors?.required">
                This field is required!
              </div>
            </div>
           
            <div class="form-group mb-3">
                <label for="difficulty" class="h5 fw-bold">Difficulty</label>
                <select formControlName="difficulty" class="form-control" id="difficultySelect" placeholder="Item name">
                    <option value="1" [selected]="recipe.difficulty === 'Easy'">Easy</option>
                    <option value="2" [selected]="recipe.difficulty === 'Medium'">Medium</option>
                    <option value="3" [selected]="recipe.difficulty === 'Hard'">Hard</option>
                </select>
                <div class="alert alert-danger" *ngIf="difficulty.touched && difficulty.errors?.required">
                  This field is required!
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="photo" class="h5 fw-bold">Photo</label>
                <input type="text" class="form-control" formControlName="photo" [(ngModel)]="recipe.photo">
                <div class="alert alert-danger" *ngIf="photo.touched && photo.errors?.required">
                  This field is required!
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="description" class="h5 fw-bold">Description</label>
                <textarea type="text" class="form-control" formControlName="description" [(ngModel)]="recipe.description"></textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.errors?.required">
                  This field is required!
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="notesAndTips" class="h5 fw-bold">Notes and Tips</label>
                <textarea type="text" class="form-control" formControlName="notesAndTips" [(ngModel)]="recipe.notesAndTips"></textarea>
                <div class="alert alert-danger" *ngIf="notesAndTips.touched && notesAndTips.errors?.required">
                  This field is required!
                </div>
            </div>

            <div *ngFor="let item of editForm.get('products')['controls']; let i = index" class="form-group mb-3 row productSelectionDiv">
                <div class="col-3">
                    <label class="h5 fw-bold">Product</label>
                    <select class="form-control" placeholder="Item name" id="productSelectionSelect{{i}}">
                        <option *ngFor="let product of allProducts" value="{{product.id}}" [selected]="productsInRecipe[i] === product.name">
                            {{product.name}}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="h5 fw-bold">Quantity</label>
                    <input class="form-control" type="number" id="productSelectionInput{{i}}" placeholder="Quantity" [(ngModel)]="quantitiesInRecipe[i]" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-1 d-flex align-items-end" *ngIf="editForm.get('products')['controls'].length > 1">
                    <button type="button" class="btn btn-danger add-btn position-relative" (click)="removeItem(i)">X</button>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-4">
                    <button type="button" class="btn btn-primary add-btn position-relative mb-3" (click)="addItem()">Add Item</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-success add-btn position-relative mb-3" (click)="editRecipe()">Edit Recipe</button>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>
  