<div class="row container-fluid d-flex justify-content-center">
    <div class="col-3 text-center pt-3 fs-1">
      {{currentDate.format('DD-MM-YYYY')}}
    </div>
  </div>
  <div class="row container-fluid d-flex justify-content-center">
    <div class="col-3 text-center fs-3 fw-bold pt-1">
      Today's Summary:
    </div>
  </div>
  <div class="container-fluid dashboard-container">
    <div class="row">
      <div class="col-12 fs-4 py-3">
        <span class="fw-bolder">Calories Total:</span> {{dashboardUserInfo.currentCalories}} /
        {{dashboardUserInfo.targetCalories}}
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-1"></div>
      <div class="col-7">
        <div class="row dataRow">
          <div class="col-8 fw-bold fs-4">
            Proteins:
          </div>
          <div class="col-4">
            {{dashboardUserInfo.currentProteins}} / {{dashboardUserInfo.targetProteins}}g
          </div>
        </div>
        <div class="row dataRow">
          <div class="col-8 fw-bold fs-4">
            Carbohydrates:
          </div>
          <div class="col-4">
            {{dashboardUserInfo.currentCarbs}} / {{dashboardUserInfo.targetCarbs}}g
          </div>
        </div>
        <div class="row dataRow">
          <div class="col-8 fw-bold fs-4">
            Fats:
          </div>
          <div class="col-4">
            {{dashboardUserInfo.currentFats}} / {{dashboardUserInfo.targetFats}}g
          </div>
        </div>
        <div class="row dataRow">
          <div class="col-8 fs-4">
            Sugar:
          </div>
          <div class="col-4">
            {{dashboardUserInfo.currentSugars}}g
          </div>
        </div>
        <div class="row dataRow">
          <div class="col-8 fs-4">
            Sodium:
          </div>
          <div class="col-4">
            {{dashboardUserInfo.currentSodium}}mg
          </div>
        </div>
      </div>
      <div class="col-4">
        <canvas id="caloriesChart" baseChart height="100%" width="100%" [data]="doughnutChartData"
          [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="doughnutChartColors"
          [plugins]="doughnutChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-12 fs-4 fw-bolder py-3">Added Recipes</div>
    </div>
    <div *ngIf="dashboardUserInfo.loggedRecipes.length === 0">
      <div class="row">
        <label class="text-center fs-4">No logged recipes yet!</label>
      </div>
    </div>
    <div *ngIf="dashboardUserInfo.loggedRecipes.length !== 0">
      <div class="row d-flex ">
        <div class="col-5 fw-bold">
          Name
        </div>
        <div class="col-3 fw-bold">
          Total Calories
        </div>
        <div class="col-1 fw-bold">
          Protein
        </div>
        <div class="col-1 fw-bold">
          Fats
        </div>
        <div class="col-1 fw-bold">
          Carbs
        </div>
      </div>
      <div class="row d-flex justify-content-between py-1" *ngFor="let recipe of dashboardUserInfo.loggedRecipes">
        <div class="col-5">
          {{recipe.name}}
        </div>
        <div class="col-3">
          {{recipe.calories}}cal
        </div>
        <div class="col-1">
          {{recipe.protein}}g
        </div>
        <div class="col-1">
          {{recipe.fats}}g
        </div>
        <div class="col-1">
          {{recipe.carbs}}g
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-danger add-btn position-relative"
            (click)="removeRecipeLog(recipe.recipeId, recipe.dateLogged)">X</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 fs-4 fw-bolder py-3">Quick Add</div>
    </div>
    <form class="container-fluid" [formGroup]="quickAddRecipeForm" (ngSubmit)="addRecipeToUser()">
      <div class="row quickAddRow d-flex justify-content-between">
        <div class="col-11">
          <select formControlName="id" placeholder="erwe" class="form-control">
            <option value="" selected disabled>Pick a Recipe</option>
            <option *ngFor="let recipe of recipesByNames" value="{{recipe.id}}">
              {{recipe.name}}
            </option>
          </select>
        </div>
        <div class="col-1 d-flex align-items-end">
          <button type="button" class="btn btn-success add-btn position-relative" [disabled]="!isRecipeIdPicked"
            (click)="addRecipeToUser()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container-fluid dashboard-container">
    <div class="row">
      <div class="col-12 fs-4 fw-bolder py-3">Training Summary: </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="row dataRow">
          <div class="col-8 fw-bold fs-5">
            Total Burned Calories:
          </div>
          <div class="col-4">
            {{dashboardUserInfo.burnedCalories}}cal
          </div>
        </div>
        <div class="row dataRow">
          <div class="col-8 fw-bold fs-5">
            Total Time spent Training:
          </div>
          <div class="col-4">
            {{dashboardUserInfo.timeSpentTraining}} min
          </div>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="row">
      <div class="col-12 fs-4 fw-bolder py-3">Added Workouts</div>
    </div>
    <div *ngIf="dashboardUserInfo.isRestDay === true && dashboardUserInfo.loggedWorkouts.length===0">
      <div class="row">
        <label class="text-center fs-4">IT'S YOUR REST DAY!</label>
      </div>
    </div>
    <div *ngIf="dashboardUserInfo.isRestDay === false || dashboardUserInfo.loggedWorkouts.length !== 0">
      <div class="row d-flex py-1">
        <div class="col-6 fw-bold">
          Name
        </div>
        <div class="col-3 fw-bold">
          Calories Burned
        </div>
        <div class="col-2 fw-bold">
          Time Trained
        </div>
      </div>
      <div class="row d-flex justify-content-between py-1" *ngFor="let workout of dashboardUserInfo.loggedWorkouts">
        <div class="col-6">
          {{workout.name}}
        </div>
        <div class="col-3">
          {{workout.caloriesBurned}}cal
        </div>
        <div class="col-2">
          {{workout.timeTrained}} min
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-danger add-btn position-relative"
            (click)="removeWorkoutLog(workout.workoutId, workout.dateLogged)">X</button>
        </div>
      </div>
    </div>
    <div *ngIf="dashboardUserInfo.isRestDay === false && dashboardUserInfo.loggedWorkouts.length === 0">
      <div class="row">
        <label class="text-center fs-4">No logged workouts yet!</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12 fs-4 fw-bolder py-3">Quick Add</div>
    </div>
    <form class="container-fluid" [formGroup]="quickAddWorkoutForm" (ngSubmit)="addWorkoutToUser()">
      <div class="row quickAddRow d-flex justify-content-between">
        <div class="col-11">
          <select formControlName="id" placeholder="erwe" class="form-control">
            <option value="" selected disabled>Pick a Workout</option>
            <option *ngFor="let workout of workoutsByNames" value="{{workout.id}}">
              {{workout.name}}
            </option>
          </select>
        </div>
        <div class="col-1 d-flex align-items-end">
          <button type="button" class="btn btn-success add-btn position-relative" [disabled]="!isWorkoutIdPicked"
            (click)="addWorkoutToUser()">Add</button>
        </div>
      </div>
    </form>
</div>
